<a href="https://colab.research.google.com/github/Sharath2021/Online-Retail-Customer-Segmentation/blob/main/Online_Retail_Customer_Segmentation_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Extraction/identification of major topics & themes discussed in news articles. </u></b>

## <b> Problem Description </b>

### In this project, your task is to identify major customer segments on a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

## <b> Data Description </b>

### <b>Attribute Information: </b>

* ### InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
* ### StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
* ### Description: Product (item) name. Nominal.
* ### Quantity: The quantities of each product (item) per transaction. Numeric.
* ### InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated.
* ### UnitPrice: Unit price. Numeric, Product price per unit in sterling.
* ### CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
* ### Country: Country name. Nominal, the name of the country where each customer resides.

In [1]:
# importing important libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# dataset
retail_data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Capstone Projects/Capstone_Unsupervised/Online Retail.xlsx')

In [7]:
retail_data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [9]:
retail_data.tail()

       InvoiceNo StockCode  ... CustomerID  Country
541904    581587     22613  ...    12680.0   France
541905    581587     22899  ...    12680.0   France
541906    581587     23254  ...    12680.0   France
541907    581587     23255  ...    12680.0   France
541908    581587     22138  ...    12680.0   France

[5 rows x 8 columns]

In [11]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [12]:
retail_data.shape

(541909, 8)

In [14]:
null_values = retail_data.isnull().sum()
total = len(retail_data)
null_percent = (null_values/total)*100
null_df = pd.concat([null_values,null_percent],axis = 1,keys = ['Total Null Values','Percentage %'])
null_df

             Total Null Values  Percentage %
InvoiceNo                    0      0.000000
StockCode                    0      0.000000
Description               1454      0.268311
Quantity                     0      0.000000
InvoiceDate                  0      0.000000
UnitPrice                    0      0.000000
CustomerID              135080     24.926694
Country                      0      0.000000

In [15]:
# removing all null values
retail_data.dropna(inplace=True)

In [16]:
# checking null values
retail_data.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [17]:
retail_data.shape

(406829, 8)

In [20]:
# checking duplicated rows
print('No. of duplicate values are',len(retail_data[retail_data.duplicated()]))

No. of duplicate values are 5225

In [21]:
# removing duplicates
retail_data.drop_duplicates(inplace=True,ignore_index=True)

In [22]:
retail_data.shape

(401604, 8)

In [23]:
# converting invoice no to string type
retail_data['InvoiceNo']=retail_data['InvoiceNo'].astype('str')

In [24]:
# checking invoice no.
retail_data[retail_data['InvoiceNo'].str.contains('C')]

       InvoiceNo StockCode  ... CustomerID         Country
141      C536379         D  ...    14527.0  United Kingdom
154      C536383    35004C  ...    15311.0  United Kingdom
235      C536391     22556  ...    17548.0  United Kingdom
236      C536391     21984  ...    17548.0  United Kingdom
237      C536391     21983  ...    17548.0  United Kingdom
...          ...       ...  ...        ...             ...
401159   C581490     23144  ...    14397.0  United Kingdom
401243   C581499         M  ...    15498.0  United Kingdom
401410   C581568     21258  ...    15311.0  United Kingdom
401411   C581569     84978  ...    17315.0  United Kingdom
401412   C581569     20979  ...    17315.0  United Kingdom

[8872 rows x 8 columns]

 Invoice number that starts with 'C', means the order was cancelled and will remove them as cancelled orders does not count towards any monetary gain.

In [25]:
# removing cancelled orders
retail_data=retail_data[~retail_data['InvoiceNo'].str.contains('C')]
retail_data.reset_index(inplace=True)

In [26]:
retail_data.shape

(392732, 9)

In [27]:
# removing index column
retail_data.drop(columns=['index'],inplace=True)